@media screen and (max-width: 380px) {
    .parrafo__sobrenosotros {
      margin-bottom: 6em;
    }
  
    .h3-custom {
      margin-top: 3.5em;
    }
  }
  
  @media screen and (max-width: 380px) {
    .btn3, .custom-line  {
      display: none;
    }
    
  }

  @media screen and (max-width: 380px) {

    .carrusel_custom {

        display: none;
    }
    
  }


  @media screen and (max-width: 380px) {
  .aseh3custom {

    margin-top: 5em !important;
  }

  .conh3custom {

    margin-top: 5em !important;
  }
}


